#
# For a description of the syntax of this configuration file,
# see misc/tools/kconfig-language.txt.
#

if ARCH_BOARD_BDB

config APB1
	bool "APBridge1 on BDB"
	depends on ARCH_CHIP_TSB
	default y
	---help---
		Select if you are building for APB1 on the BDB.

config GREYBUS_I2S_DUAL_PORTS
	bool "Dual I2S routing to APB2"
	select GREYBUS_I2S_UPSCALE
	default n
	---help---
        Enable the dual I2S CPorts on APB2.

endif
